<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloudVersion</key>
	<string>08770B61-4678-49BD-9EE1-1A53C7E8F668</string>
	<key>storeUUID</key>
	<string>626DF63B-5795-4B3E-B652-C7CC1DDBD808</string>
</dict>
</plist>
