<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ISG.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.8</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
				<key>dateExpires</key>
				<string>07/07/23</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ADCountryPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaAsyncSocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>7.6.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DynamicBlurView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoSwiftyM3U8.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3.11.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleInteractiveMediaAds.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>3.11.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>6.7.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JNKeychain.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KWVerificationCodeView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Mapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MarqueeLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OTPTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PopupDialog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>3.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.10.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SummerSlider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyStoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.16.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.30906.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.8</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5F37FA525567F2B1319CD0D7D8864481D32AAA7F</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>RSP8LFJASB.com.isg.ios.ISGNotificationService</string>
						<key>com.apple.developer.team-identifier</key>
						<string>RSP8LFJASB</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>ISGNotificationService.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>83055f36-2f86-4edf-9038-435bf56e212a</string>
						<key>dateExpires</key>
						<string>07/07/23</string>
						<key>name</key>
						<string>ISG Service Profile Adhoc</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RSP8LFJASB</string>
						<key>name</key>
						<string>IPTV SOLUTIONS GROUP LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>RSP8LFJASB.com.isg.ios</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>RSP8LFJASB</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ISG.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>255779d7-d455-4d66-a341-4be3a11ad411</string>
				<key>dateExpires</key>
				<string>07/07/23</string>
				<key>name</key>
				<string>ISG Adhoc profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>RSP8LFJASB</string>
				<key>name</key>
				<string>IPTV SOLUTIONS GROUP LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
